<h4>Detalles de la factura</h4>
@if (items.length > 0) {
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @for (item of items; track $index) {
                <tr row-item [item]="item" (removeEventEmmiter)="onRemove($event)"></tr>
            }
        </tbody>
    </table>

} @else {
    <div>
        <p>No hay items en la factura</p>
    </div>
}