<!-- Título de la sección de datos del cliente -->
<h3>Datos del cliente</h3>
<!-- Lista de datos del cliente -->
<ul class="list-group">
    <!-- Nombre del cliente -->
    <li class="list-group-item active">{{cliente.nombre}}</li>
    <!-- Apellido del cliente -->
    <li class="list-group-item">{{cliente.apellido}}</li>
    <!-- País y ciudad del cliente -->
    <li class="list-group-item">{{cliente.direccion.pais}} / {{cliente.direccion.ciudad}}</li>
    <!-- Calle y número de la dirección del cliente -->
    <li class="list-group-item">{{cliente.direccion.calle}} / {{cliente.direccion.numero}}</li>
</ul>
