<!-- Título de la sección de detalles de la factura -->
<h4>Detalles de la factura</h4>

@if (items.length > 0) {
    <!-- Tabla para mostrar los items de la factura -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @for (item of items; track $index) {
                <!-- Fila de la tabla para cada item -->
                <tr row-item [item]="item" (removeEventEmmiter)="onRemove($event)"></tr>
            }
        </tbody>
    </table>
} @else {
    <!-- Mensaje cuando no hay items en la factura -->
    <div>
        <p>No hay items en la factura</p>
    </div>
}