<!-- Pasamos datos a la vista -->
<h2>{{ title }}</h2>

<!-- NgIf es un if -->
<!--  Valido si el arreglo tiene elementos si lo tiene los muestro-->
<!--   En caso que no se cumpla el if va a ir al isEmpty abajo del todo -->
  <table *ngIf="(users.length > 0) else isEmpty"> 
  <thead>
    <tr>
        <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>    
  <tbody>
    <tr *ngFor="let user of users; index as i">
        <!-- Etiracion de los nombres -->
         <td>{{ i }}</td>
         <td>{{ user }}</td>
    </tr>
  </tbody>
</table>

<ng-template #isEmpty>
  <p>No hay usuarios</p>
</ng-template>
