<!-- Con visible podemos ocultar o mostrar elementos dependiendo del boolean que pusimos en components.ts -->
<div *ngIf="visible; else notEnable" >
<!-- Pasamos datos a la vista -->
<h2>{{ title }}</h2>
</div>

<button (click)="setVisible()">
  <!-- Operador ternario para que el boton cambie lo que lleva dentro -->
  {{ visible ? 'Ocultar' : 'Mostrar' }}
</button>

<!-- NgIf es un if -->
<!--  Valido si el arreglo tiene elementos si lo tiene los muestro-->
<!--   En caso que no se cumpla el if va a ir al isEmpty abajo del todo -->
  <table *ngIf="(users.length > 0) else isEmpty"> 
  <thead>
    <tr>
        <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>    
  <tbody>
    <tr *ngFor="let user of users; index as i">
        <!-- Etiracion de los nombres -->
         <td>{{ i }}</td>
         <td>{{ user }}</td>
    </tr>
  </tbody>
</table>

<ng-template #isEmpty>
  <p>No hay usuarios</p>
</ng-template>

<ng-template #notEnable>
  <p>El contenido no esta habilitado</p>
</ng-template>
