<!-- Formulario para agregar un nuevo item -->
<form class="w-50" (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
    <!-- Campo de entrada para el nombre del producto -->
    <input name="producto" placeholder="producto" class="form-control m3" [(ngModel)]="item.producto" required minlength="5" #producto="ngModel">
    
    <!-- Validación del campo de nombre del producto -->
    @if (producto.invalid && (producto.dirty || producto.touched)) {
        @if (producto.errors! ['required']) {
            <div class="alert alert-danger">
                Nombre de producto requerido
            </div>
        }

        @if (producto.errors! ['minlength']) {
            <div class="alert alert-danger">
                El nombre del producto debe tener al menos 5 caracteres
            </div>
        }
    }

    <!-- Campo de entrada para el precio del producto -->
    <input name="precio" type="number" placeholder="precio" class="form-control m3" [(ngModel)]="item.precio" required min="10" #precio="ngModel">

    <!-- Validación del campo de precio del producto -->
    @if (precio.invalid && (precio.dirty || precio.touched)) {
        @if (precio.errors! ['required']) {
            <div class="alert alert-danger">
                Precio del producto requerido
            </div>
        }

        @if (precio.errors! ['minlength']) {
            <div class="alert alert-danger">
                Precio del producto debe ser mayor o igual al 10
            </div>
        }
    }

    <!-- Campo de entrada para la cantidad del producto -->
    <input name="cantidad" type="number" placeholder="cantidad" class="form-control m3" [(ngModel)]="item.cantidad" required min="1" #cantidad="ngModel">

    <!-- Validación del campo de cantidad del producto -->
    @if (cantidad.invalid && (cantidad.dirty || cantidad.touched)) {
        @if (cantidad.errors! ['required']) {
            <div class="alert alert-danger">
                Nombre de la cantidad es requerida
            </div>
        }

        @if (cantidad.errors! ['minlength']) {
            <div class="alert alert-danger">
                La cantidad debe ser mayor o igual a 1
            </div>
        }
    }

    <!-- Botón para agregar un nuevo item, deshabilitado si el formulario es inválido -->
    <button class="btn btn-primary m-3" [disabled]="itemForm.invalid">Nuevo item</button>
</form>